/*‚±‚±‚Ídefault‚Ìİ’è ƒ^ƒuƒŒƒbƒg—p‚Ìİ’è‚Í‰º‚Ì‚Ù‚¤‚É‚ ‚è‚Ü‚·*/

.bxtx{
	color:white;
	font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	font-size:2.6vmin;
	display: inline-block;
}

.btn1{
	position: relative;/*ˆÊ’u*/
	display: inline-block;/*•\¦Œ`®*/
	padding: 20px 60px;
	text-decoration: none;
	color:black;
	border-top-left-radius:10px;/*ŠpŠÛ‚ß‚é‚â‚Â*/
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	background: #fff974;
	font-size: 5vmin;
	height:8vh;
	width: 40vw;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
}
.title{
	color:white;
	font-size:5vmin;/*³‰ğ‰æ–Ê‚Ì‚·‚×‚Ä‚Ì•¶š‚Ì‘å‚«‚³‚Í‚±‚±‚Å’²®‚³‚ê‚Ü‚· 5vmin‚ÍƒEƒBƒ“ƒhƒE‚Ìc•‚Ü‚½‚Í‰¡•‚Ì’Z‚¢‚Ù‚¤‚Ì5%‚Å‚·*/
	text-align:center;
	font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
}


.title2{
	color:white;
	font-size:5vmin;/*³‰ğ‰æ–Ê‚Ì‚·‚×‚Ä‚Ì•¶š‚Ì‘å‚«‚³‚Í‚±‚±‚Å’²®‚³‚ê‚Ü‚· 5vmin‚ÍƒEƒBƒ“ƒhƒE‚Ìc•‚Ü‚½‚Í‰¡•‚Ì’Z‚¢‚Ù‚¤‚Ì5%‚Å‚·*/
        display: inline-block;
        text-align: left;  
	font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
}

.kaisetu{
	color:white;
	font-size:5vmin;
	text-align:center;
	font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
}

.text{
	color:white;
	font-size:8vmin;
	text-align:center;
	font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
}
.back{
	background-color:#005c08;
}
.btnreturn{
	position: relative;/*ˆÊ’u*/
	display: inline-block;/*•\¦Œ`®*/
	padding: 40px 70px;
	text-decoration: none;
	color:black;
	border-top-left-radius:10px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	background: #fff974;
	font-size: 5vmin;
	height:8vh;
	width: 15vw;
	font-family:  'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
}

.gazou{
	display:flex;
	justify-content: center;
	align-items: center; 
	gap: 0px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	color:black;


	}

.btn2{
	padding: 90px;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
	background: #fff974;
	display:flex;
	align-items: center; 
	gap: 30px;
	width: 70%;
	cursor: pointer;
	font-size: 5vmin;
}

/* ƒ^ƒuƒŒƒbƒgƒTƒCƒYi695px1080pxj */
@media screen and (min-width: 768px) and (max-width: 1090px)
{
	.btn1{
	position: relative;/*ˆÊ’u*/
	display: inline-block;/*•\¦Œ`®*/
	padding: 20px 60px;
	text-decoration: none;
	color:black;
	border-top-left-radius:10px;/*ŠpŠÛ‚ß‚é‚â‚Â*/
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	background: #fff974;
	font-size: 5vmin;
	height:8vh;
	width: 40vw;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.title{
		color:white;
		font-size:5vmin;/*³‰ğ‰æ–Ê‚Ì‚·‚×‚Ä‚Ì•¶š‚Ì‘å‚«‚³‚Í‚±‚±‚Å’²®‚³‚ê‚Ü‚· 5vmin‚ÍƒEƒBƒ“ƒhƒE‚Ìc•‚Ü‚½‚Í‰¡•‚Ì’Z‚¢‚Ù‚¤‚Ì5%‚Å‚·*/
		text-align:center;
		font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.kaisetu{
		color:white;
		font-size:5vmin;
		text-align:center;
		font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}

	.text{
		color:white;
		font-size:8vmin;
		text-align:center;
		font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.back{
		background-color:#005c08;
	}
	.btnreturn{
		position: relative;/*ˆÊ’u*/
		display: inline-block;/*•\¦Œ`®*/
		padding: 40px 70px;
		text-decoration: none;
		color:black;
		border-top-left-radius:10px;
		border-top-right-radius:50px;
		border-bottom-left-radius:50px;
		background: #fff974;
		font-size: 5vmin;
		height:8vh;
		width: 15vw;
		font-family:  'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.gazou
	{
		display:flex;
		justify-content: center;
		align-items: center; 
		gap: 0px;
		margin-left: auto;
		margin-right: auto;
		text-decoration: none;
		color:black;
	}

	.btn2
	{
		padding: 62px;
		border-top-right-radius:50px;
		border-bottom-right-radius:50px;
		background: #fff974;
		display:flex;
		align-items: center; 
		gap: 30px;
		width: 60%;
		cursor: pointer;
		font-size: 5vmin;
		font-family:  'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
}

/* ƒXƒ}ƒzƒTƒCƒYi767pxˆÈ‰ºj */
@media screen and (max-width: 767px)
{
	.btn1{
	position: relative;/*ˆÊ’u*/
	display: inline-block;/*•\¦Œ`®*/
	padding: 20px 60px;
	text-decoration: none;
	color:black;
	border-top-left-radius:10px;/*ŠpŠÛ‚ß‚é‚â‚Â*/
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	background: #fff974;
	font-size: 5vmin;
	height:8vh;
	width: 40vw;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.title{
		color:white;
		font-size:5vmin;/*³‰ğ‰æ–Ê‚Ì‚·‚×‚Ä‚Ì•¶š‚Ì‘å‚«‚³‚Í‚±‚±‚Å’²®‚³‚ê‚Ü‚· 5vmin‚ÍƒEƒBƒ“ƒhƒE‚Ìc•‚Ü‚½‚Í‰¡•‚Ì’Z‚¢‚Ù‚¤‚Ì5%‚Å‚·*/
		text-align:center;
		font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.kaisetu{
		color:white;
		font-size:5vmin;
		text-align:center;
		font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}

	.text{
		color:white;
		font-size:8vmin;
		text-align:center;
		font-family:'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.back{
		background-color:#005c08;
	}
	.btnreturn{
		position: relative;/*ˆÊ’u*/
		display: inline-block;/*•\¦Œ`®*/
		padding: 40px 70px;
		text-decoration: none;
		color:black;
		border-top-left-radius:10px;
		border-top-right-radius:50px;
		border-bottom-left-radius:50px;
		background: #fff974;
		font-size: 5vmin;
		height:8vh;
		width: 15vw;
		font-family:  'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.btn2{
		position: relative;/*ˆÊ’u*/
		display: inline-block;/*•\¦Œ`®*/
		padding: 60px 15px;
		text-decoration: none;
		color:black;
		border-top-left-radius:10px;/*ŠpŠÛ‚ß‚é‚â‚Â*/
		border-top-right-radius:50px;
		border-bottom-left-radius:50px;
		background: #fff974;
		font-size: 5vmin;
		height:8vh;
		width: 60vw;
		font-family:  'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN';
	}
	.mderabu{
		display:flex;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
}
